$red:  #FF003C;
$blue: #71F7FF;
$black: #100B04;
$white: white;
$yellow: #FBF500;

@mixin color($color){
    color: $color;
    text-shadow: $color 0 0 5px;
}
@mixin background-gradient{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#412027+0,0d131b+100 */
    background: rgb(65,32,39); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(65,32,39,1) 0%, rgba(13,19,27,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(65,32,39,1) 0%,rgba(13,19,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(65,32,39,1) 0%,rgba(13,19,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#412027', endColorstr='#0d131b',GradientType=0 ); /* IE6-9 */
}

@mixin border($color){
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid $color;
    border-radius: 0;
}

@mixin text {
    text-transform: uppercase;
    // font-family: Barlow;
    font-family: monospace;
    font-size: 1em;
}